body{
    background-color: #24353F;
}
.login .form{
    background-color: #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 50%;
    padding-inline: 30px;
}
.login .form h1{
    color: #17A2B8;
    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;
}
.login .form input{
    background-color: #24353F;
    margin-block: 10px;
    color: #fff;
}
.login .form input::placeholder{
    color: #fff;
    opacity: 0.5;
    font-size: 17px;
    font-family: sans-serif;
}
.login .form .dont{
    color: #fff;
    font-size: 17px;
}
.login .form .dont a{
    color: #fff;
    text-decoration: none;
}
.login .form .dont a:hover{
    text-decoration:underline ;
}